@{
    ViewBag.Title = "Disclaimer";
}
<div class="jumbotron">
    <h1>Disclaimer</h1>
    <p>
The information provided in this App is updated on an ongoing basis, but might not carry the latest information on a Microsoft Product or Service. Users of the App are advised to refer to the Microsoft published Web sites for the latest on the topic. The App needs an internet connection to work, and might entail additional bandwidth charges if any of the Web pages shown in the App have media content.    
    </p>
</div>

