@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Products & Services Portfolio App</h1>
    <p class="lead">Web Site for the Products & Services Portfolio App</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div>
        <h2>Getting started</h2>
        <p>
            The Windows 10 UWP App can be downloaded from the Windows 10 Store. This App provides you with an overview of all the Products and Services that are offered by Microsoft.
        </p>
        <p><a class="btn btn-default" href="https://www.microsoft.com/en-US/store/apps/Products-Services-Portfolio/9WZDNCRFJN3X">Download it &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>