@{
    ViewBag.Title = "Privacy Policy";
}
<div class="jumbotron">
    <h1>Privacy policy of Products and Services Portfolio App</h1>
    <p>
        The App does not require a User to sign up or sign in for access. Nor does it collect any user information 
    </p>
</div>

